.header {
  font-family: var(--condensed);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Header Desktop First */

.header {
  background-color: var(--dark);
}

.header__top{
  height: 51px;
  display: flex;
  justify-content: center;
  border-bottom: thin solid var(--darker-gray);
}

.header__top-grid{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 170px 1fr 190px 50px;
  grid-template-rows: 51px;
  border-left: thin solid var(--darker-gray);
  border-right: thin solid var(--darker-gray);
}
.burguer-menu,
.user-menu,
.logo,
.credit-card-menu,
.search{
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white);
  font-size: 12px;
}
.burguer-menu{
  cursor: pointer;
}
.header__top-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burguer-menu {
  display: none;
}
.user-menu{
  /* width: 100%; */
  display: flex;
}
.header__top-letters{
  margin-left: 10px;
  line-height: .9;
}
.logo{
  border-left: thin solid var(--darker-gray);
  border-right: thin solid var(--darker-gray);
} 
.logo__img-container{
  position: absolute;
  left: calc(50% - 68px);
  width: 130px;
  height: 51px;
  background-image: url('./static/marvel-icon.svg');
  background-position: toleft;
  background-repeat: no-repeat;
}
.credit-card-menu{
  /* width: 100%; */
  display: flex;
}
.search{
  border-left: thin solid var(--darker-gray);
}

/* Menu mobile first */
.menu{
  position: absolute;
  top: 0;
  font-family: var(--normal);
  color: var(--white);
  width: 100%;
  z-index: 10;
  height: 100vh;
  left: -100%;
  overflow: auto;
}

.menu__scroll-area{
  height: 1400px;
  background-color: var(--dark);
}
.menu__close-container{
  min-height: 51px;
  padding: 20px 30px 0px;
  box-sizing: border-box;
}
.menu-item{
  display: flex;
}
.menu__container{
  width: 100%;
}
.menu-item__nav,
.menu-item__subnav,
.menu__container{
  display: flex;
  background-color: var(--dark);
  min-height: 40px;
  justify-content:center;
  flex-direction: column;
}
.menu-item__title-container,
.menu-item__nav,
.menu-item__subnav{
  padding: 0px 30px;
  width: calc(100% - 60px);
  font-family: var(--normal);
}
.menu-item__nav-title-container{
  display: flex;
  font-size: 28px;
  font-family: var(--condensed);
  font-weight: var(--bold);
  text-transform: uppercase;
  background-color: transparent;
  padding: 45px 30px 15px 30px;
  color: var(--white);
  align-items: center;
  border: none;
  outline: none;
}
.menu-item__nav-img{
  margin-right: 8px;
  transform: rotate(180deg);
}
.menu-item__nav{
  margin-bottom:15px;
}
.menu-item__more-account-text,
.menu-item__nav-text,
.menu-item__title{
  padding: 15px 0;
}
.menu-item__subnav .menu-item__nav-text {
  padding: 15px 0 15px 32px;
}
.menu-item__more-account-text,
.menu-item__nav-text,
.menu-item__title-container{
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: var(--bold);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}
.menu-item__title-container{
  justify-content: space-between;
}
.menu-item__more-account-text:first-of-type,
.menu-item__subnav .menu-item__nav-text:first-of-type{
  font-size: 12px;
  color: var(--yellow);
}
.menu-item__content-container{
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  height: 100vh;
  overflow: auto;
  min-height: calc(100vh - 50px);
  background-color: var(--dark);
  z-index: 10;
}

.menu-item__content{
  display: none;
}

/* Menu More Desktop */
.menu-item__more-container{
  color: var(--dark);
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}
.header__social-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 55px;
}
.menu-item__more-links{
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding-bottom: 30px;
}
.menu-item__more-link{
  text-align: left;
  letter-spacing: 1px;
  font-family: var(--normal);
  font-weight: var(--bold);
  padding: 15px 30px;
  font-size: 16px;
}
.menu-item__more-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menu-item__more-account{
  width: 100%;
  padding: 15px 30px 45px;
  box-sizing: border-box;
  border-top: 1px solid var(--darker-gray);
  border-bottom: 1px solid var(--darker-gray);
}
.menu-item__more-account-text{
  width: fit-content;
}
.header__social-container{
  min-width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
}
.header__promos{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 30px 30px 40px 30px;
}
.header__promo-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.header__promo-title, 
.header__promo-description {
  text-align: left;
  max-width: 200px;
}
.header__promo-title{
  letter-spacing: 2px;
  font-size: 13px;
}
.header__promo-description{
  font-size: 14px;
  font-weight: var(--bold);
  color: var(--dark-gray);
  text-transform: none;
}
.header__promo-img-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  width: 119px;
}
.header__promo-img{
  width: auto;
}
.menu-item:last-of-type .menu-item__title-container{
  display: none;
}
.menu-item:last-of-type .menu-item__content-container{
  display: block;
  width: 100%;
  position: absolute;
  top: calc(343px + 51px);
  height: max-content;
  overflow: hidden;
  left: 0vw;
  background-color: var(--white);
}

/* Media query for menu in tablets */
@media(min-width: 600px){
  .menu{
    position: absolute;
    max-width: 380px;
    overflow: auto;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--dark);
  }
  .menu__scroll-area{
    height: calc(100vh - 50px);
  }
  .menu-item__content-container{
    display: none;
    left: 100%;
    height: calc(100vh - 50px);
    z-index: 1;
    max-width: 375px;
  }
  .menu-item:last-of-type .menu-item__content-container{
    display: block;
  }
}

/* Media query for menu on desktop */
@media(min-width: 840px){
  .menu{
    position: static;
    min-height: fit-content;
    height: fit-content;
    max-width: 100%;
    overflow: auto;
    height: fit-content;
  }
  .menu__scroll-area{
    height: 40px;
  }
  .menu-item{
    width: fit-content;
  }
  .menu-item:last-of-type .menu-item__title-container{
    display: flex;
  }
  .menu-item__title-container{
    padding: 0 18px;
  }
  .menu-item__subnav .menu-item__nav-text,
  .menu-item__nav-text{
    font-size: 12px;
    color: var(--dark);
    padding: 0px 10px;
  }
  .menu-item__nav,
  .menu-item__subnav{
    background-color: var(--white);
  }
  .menu-item__title-container,
  .menu-item__nav,
  .menu-item__subnav,
  .menu__container{
    min-height: 40px;
    align-items: center;
    flex-direction: row;
    margin: auto;
    font-size: 12px;
    width: fit-content;
    font-family: var(--condensed);
  }
  .menu-item__title-container{
    min-height: 34px;
  }
  .menu-item__title{
    padding: 0;
  }
  .menu-item__nav-text:hover{
    color: var(--red-marvel);
  }
  .menu-item__nav-title-container{
    display: none;
  }
  .menu__container:hover .menu-item__title-container{
    color: var(--dark-gray);
  }
  .menu-item__title-container:hover {
    border-bottom: 3px solid var(--red-marvel);
  }
  .menu-item:nth-of-type(1):hover .menu-item__title-container,
  .menu-item:nth-of-type(2):hover .menu-item__title-container,
  .menu-item:nth-of-type(3):hover .menu-item__title-container,
  .menu-item:nth-of-type(4):hover .menu-item__title-container,
  .menu-item:nth-of-type(5):hover .menu-item__title-container,
  .menu-item:nth-of-type(6):hover .menu-item__title-container,
  .menu-item:nth-of-type(7):hover .menu-item__title-container,
  .menu-item:nth-of-type(8):hover .menu-item__title-container{
    color: var(--white);
  }
  .menu-item:last-of-type .menu-item__content-container,
  .menu-item__content-container{
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: var(--white);
    transition-duration: 500ms;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 370px;
    height: auto;
    top: 91px;
    left: 0vw;
    box-shadow: 0 0 1rem rgba(0,0,0,.6);
    opacity: 0;
    transition-delay: 300ms;
  }
  .menu-item:hover .menu-item__content-container{
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  .menu-item__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 20px 0;
  }
  .menu-item__content-title{
    text-align: center;
    font-family: var(--condensed);
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark);
  }
  .menu-item__title-arrow,
  .menu__close-container{
    display: none;
  }
  .menu-item__more-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 64px;
    height: 370px;
    background-color: var(--white);
    padding-bottom: 20px;
  }
  .menu-item__more-links{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--dark);
  }
  .menu-item__more-link{
    padding: 0 25px;
    font-family: var(--condensed);
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
  }
  .menu-item__more-footer{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    /* max-width: 1200px; */
  }
  .menu-item__more-account{
    display: none;
  }
  .header__promos{
    width: fit-content;
    padding: 0;
    flex-direction: row;
    margin-left: 40px;
  }
  .header__social-list{
    padding: 0;
  }
  .header__promo-title, 
  .header__promo-description {
    text-align: center;
    max-width: 100%;
  }
  .header__promo-item{
    margin-right: 25px;
    margin-bottom: 0px;
  }
  .header__promo-item:last-of-type{
    margin-right: 0px;
  }
  .header__promo-img-container{
    width: max-content;
  }
  .header__social-container{
    min-width: 20%;
    padding: 0px;
    margin-right: 20px;
  }
}
/* Media query of the header desktopfirst*/
@media (max-width: 839px) {
  /* Header */
  .header__top,
  .header__top-grid,
  .logo,
  .search {
    border: none;
  }
  .header__top-grid{
    grid-template-columns: 70px 1fr 70px;
    border: none;
  }
  .burguer-menu {
    display: flex;
  }
  .user-menu,
  .credit-card-menu {
    display: none;
  }
}

/* Menu Grids only for desktop*/
.menu__news-grid,
.menu__video-grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 220px));
  grid-column-gap: 20px;
  grid-template-rows: 240px;
  padding: 20px 0px 0px;
}
.menu__video-grid{
  grid-template-rows: 280px;
}
.menu__movies-grid{
  display:grid;
  grid-template-columns: repeat(6, minmax(105px, 140px));
  grid-template-rows: 280px;
  grid-column-gap: 20px;
  padding: 30px 0;
}
.character-grid{
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 140px));
  grid-template-rows: minmax(270px, 330px);
  grid-column-gap: 20px;
  padding: 30px 0;
}
.menu__comics-grid{
  display:grid;
  grid-template-columns: repeat(4, minmax(180px, 220px));
  grid-template-rows: 390px;
  grid-column-gap: 20px;
  padding: 30px 0 0;
}
.menu__games-grid{
  grid-template-rows: 240px;
}


/* Character css */
.character-item{
  background-color: var(--dark);
  position: relative;
  height: 330px;
  clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 95%, 100% 0% );
}
.character-item:hover .character-img-container{
  transform: scale3d(1.05,1.05,1)
}
.character-item:hover .character-red{
  transform: scaleY(55);
}
.character-item:hover .character-name{
  color: var(--white);
}
.character-img-container{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  max-width: 100%;
  max-height: 50%;
  z-index: 1;
  transition-duration: 500ms;
}
.character-img{
  height: 100%;
}
.character-red{
  transition-duration: 500ms;
  position: absolute;
  top: 50%;
  background-color: var(--red-marvel);
  z-index: -1;
  height: 6px;
  width: 100%;
}
.character-content{
  padding: 25px 20px 20px;
  min-height: 35%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character-alias{
  color: var(--white);
  font-weight: var(--bold);
  font-family: var(--condensed); 
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 80%;
}
.character-name{
  color: var(--light-gray);
  font-weight: var(--bold);
  font-family: var(--condensed); 
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* News Style */

.new__img-container{
  height: 50%;
}
.new__img{
  height: 100%;
}
.video__section--classic,
.new__section{
  color: var(--dark-gray);
  margin: 16px 0 8px;
  font-weight: var(--bold);
  font-family: var(--condensed);
  font-size: 14px;
}
.video__title--classic,
.new__title{
  color: var(--dark);
  font-weight: var(--bold);
  font-size: 15px;
  text-transform: capitalize;
}
.video__title--classic,
.video__section--classic,
.new__section,
.new__title{
  max-width: 85%;
}

/* Video Styles */

.video__img--classic{
  width: 100%;
}
.video__img-container--classic{
  position: relative;
  height: fit-content;
}
.video__overlay--classic{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 97%;
  transition-duration: 500ms;
}
.video--classic:hover .video__overlay-play-container--classic{
  background-color: rgba(255, 255, 255, 1);
}
.video__overlay-play-container--classic{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.video__overlay-play--classic{
  width: 30%;
  height: 30%;
  background-color: var(--red-marvel);
  clip-path: polygon(0 0, 0 100%, 100% 50% );
}
.video__overlay-time--classic{
  background-color: var(--dark);
  padding: 2px 5px;
  color: var(--white);
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}
.video__section--classic{
  color: var(--red-marvel);
}
.video__section--classic span{
  color: var(--dark-gray);
}
.video__title--classic:hover{
  color: var(--red-marvel);
}