@keyframes hero-carousel-desktop {
  0% {
    left: 0vw;
    opacity: 1;
  }
  18.5% {
    left: 0vw;
    opacity: 1;
  }
  19.5% {
    opacity: .5;
  }
  20% {
    left: -100vw;
    opacity: 1;
  }
  38.5%  {
    left: -100vw;
    opacity: 1;
  }
  39.5% {
    opacity: .5;
  }
  40%  {
    left: -200vw;
    opacity: 1;
  }
  58.5%  {
    left: -200vw;
    opacity: 1;
  }
  59.5% {
    opacity: .5;
  }
  60%  {
    left: -300vw;
    opacity: 1;
  }
  78.5% {
    left: -300vw;
    opacity: 1;
  }
  79.5%{
    opacity: .5;
  }
  80% {
    left: -400vw;
    opacity: 1;
  }
  98.5% {
    opacity: 1;
    left: -400vw;
  }
  99.5%{
    opacity: .3;
  }
  100% {
    left: 0vw;
    opacity: 1;
  }
}

@keyframes progress-bar-desktop-large{
  0% {
    left: 20px; /*Iniamos en 20 px por el padding*/
    width: 0px;
  }
  19.99% {
    left: 20px;
    width: 19.2%; /*Esto ayuda a que completeel primer titulo*/
  }
  20% {
    left: calc(19.2% + 20px);
    width: 0px;
  }
  39.99% {
    left: calc(calc(19.2%) + 20px);
    width: 19.2%;
  }
  40%  {
    left: calc(calc(19.2% * 2) + 20px);
    width: 0px;
  }
  59.99%  {
    left: calc(calc(19.2% * 2) + 20px);
    width: 19.2%;
  }
  60%  {
    left: calc(calc(19.2% * 3) + 20px);
    width: 0px;
  }
  79.99% {
    left: calc(calc(19.2% * 3) + 20px);
    width: 19.2%;
  }
  80% {
    left: calc(calc(19.2% * 4) + 20px);
    width: 0px;
  }
  100% {
    left: calc(calc(19.2% * 4) + 20px);
    width: 19.2%;
  }
}