:root {
  --dark-gray: #999;
  --darker-gray: #393939;
  --light-gray: #bbb;
  --small: 12px;
  --dark: #151515;
  --white: #fff;
  --normal: 'Roboto', arial; 
  --condensed: 'Roboto Condensed', sans-serif;
  --red-marvel: #e62429;
}

/* *, *:before, *:after {
  box-sizing: inherit;
}  */
html {
  /* box-sizing: border-box; */
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0px;
  font-family: var(--normal);
  letter-spacing: 1px;
  color: #202020;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
h4{
  margin:0;
  font-size: 14px;
}
p{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

figure{
  margin: 0;
}

/* Polygonal button */

.poly-btn{
  width: fit-content;
  text-transform: uppercase;
  padding: 15px 40px;
  letter-spacing: 0;
  font-size: 14px;
  font-family: var(--normal);
  font-weight: 800;
  clip-path: polygon(0 30%, 0 100%, 90% 100%, 100% 70%, 100% 0, 10% 0 );
}
/* .poly-btn__content{
  /* margin: 10px; 
} */
.poly-btn--red {
  color: var(--white);
  background-color: var(--red-marvel);
}
/* .poly-btn--white */

.header {
  font-family: var(--condensed);
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: var(--dark);
}

.header__top{
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: thin solid var(--darker-gray);
}

.header__top-grid{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 170px 1fr 190px 50px;
  grid-template-rows: 51px;
  border-left: thin solid var(--darker-gray);
  border-right: thin solid var(--darker-gray);
}

.burguer-menu,
.user-menu,
.logo,
.credit-card-menu,
.search{
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white);
  font-size: 12px;
}

.header__top-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burguer-menu {
  display: none;
}
.user-menu{
  /* width: 100%; */
  display: flex;
}
.header__top-letters{
  margin-left: 10px;
  line-height: .9;
}
.logo{
  border-left: thin solid var(--darker-gray);
  border-right: thin solid var(--darker-gray);
} 
.logo__img-container{
  position: relative;
  left: 3%;
  width: 130px;
  height: 51px;
  background-image: url('./static/marvel-icon.svg');
  background-position: toleft;
  background-repeat: no-repeat;
}
.credit-card-menu{
  /* width: 100%; */
  display: flex;
}
.search{
  border-left: thin solid var(--darker-gray);
}

.header__low {
  font-family: var(--normal);
  color: var(--white);
}

/* Tipical Grid */

.tipical-grid__container{
  max-width: 1240px;
  padding: 20px;
  margin: auto;
}
.tipical-grid__title-container,
.feed__latest-title-container {
  width: 100%;
  background-image: url('./static/Latest.svg');
  background-repeat: no-repeat;
  background-position: center left;
  padding: 26px 0px;
}
.tipical-grid__title,
.feed__hype-title,
.feed__latest-title {
  font-size: 26px;
  font-family: var(--condensed);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.tipical-grid__items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(23.75%,1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.tipical-grid__item-img {
  width: 100%;
  height: 101.91px;
  margin-bottom: 10px;
}
.tipical-grid__item-section,
.feed__latest-item-section,
.feed__hype-item-section {
  color: var(--dark-gray);
  line-height: 1;
  letter-spacing: 1px;
  font-family: var(--condensed);
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: bold;
}
.tipical-grid__item-title{
  font-weight: 700;
  font-size: 15px;
  margin-top: 8px;
}
 
/* Feed */
/* .feed */
.feed__container{
  margin: auto;
  padding: 20px; /*Menos de 839 30p*/
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr;
  grid-column-gap: 60px;
}
.feed__latest{
  margin-bottom: 75px;
  display: flex; 
  align-items: center;
  flex-direction: column;
}
.feed__latest-title-container {
  width: 100%;
  background-image: url('./static/Latest.svg');
  background-repeat: no-repeat;
  background-position: center left;
  padding: 26px 0px;
}
.feed__latest-list{
  margin: 20px;
}
.feed__latest-item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  padding: 30px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.feed__latest-img{
  width: 100%;
}
.feed__latest-item-content{
  padding: 20px 30px 0px;
}
.feed__latest-item-title{
  max-width: 330px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--dark);
  margin-bottom: 10px;
}
.feed__latest-item-title:hover,
.feed__hype-item-title:hover {
  color: var(--red-marvel);
}
.feed__latest-item-time{
  color: var(--dark-gray);
  font-size: 13px;
  font-family: var(--condensed); 
  font-weight: bold;
}
.poly-btn--white{
  background-color: white;
  color: black;
  border: 2px solid black;
}
/* .poly-btn__content--black{
  color: black;
} */
.feed__hype{
  padding: 30px 0 0; 
}
.feed__hype-title-container{
  background-image: url('./static/HypeBox.svg');
  background-repeat: no-repeat;
}
.feed__hype-footer-container{
  min-height: 55px;
  background-image: url('./static/HypeBox.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.feed__hype-title{
  padding-top: 55px;
  text-align: center;
}
.feed__hype-subtitle{
  /* margin: 10px 0px 16px; */
  font-family: var(--normal);
  text-align: center;
  font-size: .875rem;
  padding: 0px 15px 20px;
}
.feed__hype-list{
  padding: 0px 20px;
}
.feed__hype-item{
  padding: 24px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  display: grid;
  grid-template-columns: 90px 150px;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
.feed__hype-img{
  width: 100%;
}
/* .feed__hype-item-content */
.feed__hype-item-title{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--dark)
}

/* Promo */
.promo{
  background-color: black;
  color: var(--white);
}
.promo__container{
  max-width: 1200px;
  padding: 10px 0px;
  height: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: 48% 1fr;
  grid-template-rows: 1fr;
  align-content: center;
}
.promo__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
}
.promo__img{
  display: flex;
  align-items: center;
}
.promo__eyebrown{
  font-size: 16px;
  font-weight: bold;
  font-family: var(--condensed);
  color: var(--red-marvel);
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.promo__title{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.promo__asset img{
  width: 100%;
  height: auto;
}
.promo__legal{
  position: relative;
  top: 80px;
  font-weight: normal;
  font-size: 11px;
}
/* Footer */

.footer {
  width: 100%;
  background-color: var(--dark);
  color: white;
  padding: 80px 0 30px 0px;
}

.footer-container{
  max-width: 1220px;
  padding: 0px 20px;
  height: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-content{
  display: grid;
  width: 100%;
  grid-template-columns: 2.5fr 5fr;
  grid-template-rows: 190px;
}
.about-and-image{
  display: flex;
  flex-direction: row;
  /* margin-bottom: 40px; */
  /* justify-content: space-between; */
  min-height: 150px;
}
.footer__about-menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__about-left{
  margin: 0px 60px 0px 60px;
  min-width: 140px;
  font-weight: bold;
}
.footer__about-right{
  margin-right: 30px;
}
.footer__about-item{
  color: var(--white);
  /* font-weight: lighter; */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  margin: 12px 0px;
  width: auto;
}
.footer__about-item:first-of-type{
  margin-top: 0px;
}

.hover-gray:hover{
  color: var(--light-gray)
}

.footer__logo{
  width: 80px;
}


.promo-and-social{
  display: flex;
  flex-direction: row;
  align-items: self-end;
}
.footer__promos{
  margin: 0 auto 40px;
}
.footer__promo-item{
  display: flex;
  flex-direction: row;
}
.footer__promo-item:first-child{
  padding-bottom: 30px;
}
.footer__promo-img-container{
  width: 60px;
  height: auto;
}
.footer__promo-img{
  width: 60px;
  height: auto;
}
.footer__promo-info{
  padding-left: 30px;
}
.footer__promo-description{
  font-size: 14px;
  color: var(--dark-gray);
}

.footer__promo-title,
.footer__social-title{
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}
/* Social Seccion */

/* footer__social-media
footer__social-title*/
.footer__social-media{
  width: 30%;
  margin-left: 40px;
}
.footer__social-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: initial;
}
.footer__social-item{
  display: inline-block;
  margin-top: 20px;
  /* padding-right: 20px; */
  /* margin-right: 25px; */
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  transition: .5s;
}
/* .footer__social-item:hover{
  
} */
.icon-facebook{
  background-image: url('/static/logo-facebook.svg');
}
.icon-twit{
  background-image: url('/static/logo-twitter.svg');
}
.icon-insta{
  background-image: url('/static/logo-insta.svg');
}
.icon-twitch{
  background-image: url('/static/logo-tumblr.svg');
}
.icon-youtube{
  background-image: url('/static/logo-youtube.svg');
}
.icon-snap{
  background-image: url('/static/logo-snap.svg');
}
.icon-pint{
  background-image: url('/static/logo-pint.svg');
}

.icon-facebook:hover{
  background-image: url('/static/white-logo-facebook.svg');
}
.icon-twit:hover{
  background-image: url('/static/white-logo-twitter.svg');
}
.icon-insta:hover{
  background-image: url('/static/white-logo-instagram.svg');
}
.icon-twitch:hover{
  background-image: url('/static/white-logo-tumblr.svg');
}
.icon-youtube:hover{
  background-image: url('/static/white-logo-youtube.svg');
}
.icon-snap:hover{
  background-image: url('/static/white-snapchat-ghost.svg');
}
.icon-pint:hover{
  background-image: url('/static/white-logo-pinterest.svg');
}

/* -------------- */
/* LEGAL SECCION */
/* ------------- */
.footer__legal-info {
  max-width: 1240px;
  margin-top: 30px;
  letter-spacing: 0px;
}
.footer__legal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__legal-text {
  color: var(--dark-gray);
  font-size: var(--small);
  padding: 0px 10px;
  margin-bottom: 10px;
}
.hover-white:hover {
  color: white
}


/* -601px */
/* .footer__logo{ 30px }  */

@media (max-width: 1045px) {
  .footer__about-left{
    min-width: 100px;
  }
}

@media (max-width: 839px) {
  
  /* Header */
  .header__top,
  .header__top-grid,
  .logo,
  .search {
    border: none;
  }
  .header__top-grid{
    /* display: grid; */
    grid-template-columns: 70px 1fr 70px;
    border: none;
  }
  .logo__img-container {
    left: 0;
  }
  .burguer-menu {
    display: flex;
  }
  .user-menu,
  .credit-card-menu {
    display: none;
  }

  /* Tipical grid */
  .tipical-grid__items{
    grid-template-columns: repeat(auto-fill,minmax(31.66%,1fr));
  }
  
  /* Feed */
  .feed__container{
    padding: 0px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fit auto-fit;
    grid-row-gap: 60px;
  }
  .feed__latest-list{
    margin: 20px 0px; 
  }
  .feed__latest-item{
    grid-template-columns: 1fr;
    grid-template-rows: auto-fit auto-fit;
  }
  .feed__latest-item-content{
    padding: 20px 30px 0px 0px;
  }
  .feed__hype{
    grid-area: 1 / 1 / 2 / 2;
  }
  .feed__hype-item{
    grid-template-columns: 1fr 2fr;
  }
  .feed__hype-item-content{
    display: flex; 
    justify-content: center;
    flex-direction: column;
  }

  /* Promo */
  .promo__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 240px;
  }
  .promo__info{
    justify-content: flex-start;
    height: 240px;
  }
  
  /* Footer */
  .footer{
    padding: 50px 0px 38px;
  }
  .footer-container{
    max-width: 822px;
    padding: 0px 30px;
    margin: 0;
  }
  .footer-content{
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr;
  }
  .about-and-image{
    margin-bottom: 0;
    border-bottom: thin solid var(--darker-gray);
  }
  .footer__about-menu{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    justify-content: initial;
  }
  .footer__about-item{
    margin: 0px 0px 25px;
  }
  .promo-and-social{
    flex-direction: column;
    align-items: baseline;
  }
  .footer__promos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    justify-content: initial;
    margin: 40px 0px 0px 0px;
  }
  .footer__social-list{
    grid-template-columns: repeat(6, 1fr) 20px;
    grid-template-rows: 1fr;
  }
  .footer__social-media{
    padding-top: 40px;
    margin:0px;
    width: 100%;
    border-top: thin solid var(--darker-gray);
    border-bottom: thin solid var(--darker-gray);
  }
  .footer__social-item{
    margin: 30px 0px;
  }
}

@media (max-width: 600px) {
  .footer-content{
    grid-template-rows: 250px 1fr;
  }
  .about-and-image{
    flex-direction: column;
    align-items: center;
  }
  .footer__logo{
    height: 50px;
    width: auto;
    margin: 0px auto 30px;
  }
  .footer__about-left,
  .footer__about-right {
    margin: 0px;
  }
  .footer__promos{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
  }
  .promo__img-container{
    width: 80px;
  }
  .footer__promo-img{
    width: 80px;
  }
}

@media(max-width: 439px){
  .tipical-grid__items{
    grid-template-columns: repeat(auto-fit,minmax(47.5%,1fr));
  }
}

@media(max-width: 400px){
  .promo__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 270px;
  }
  .promo__info{
    justify-content: flex-start;
    height: 270px;
  }
  .promo__title{
    max-width: 300px;
    text-align: center;
  }
}